<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='//code.jquery.com/jquery-1.11.1.js'></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>채팅사이트</h1>
    <div><textarea name="textarea" id="textarea" cols="60" rows="30"></textarea></div>
    <form id="form" class="form">
     <input type="text" id="name" size = "10" disabled>
      <input type="text" id="text" size="35">
      <input type="button" id="btn" value="전송">
      <input type="button" id="leave" value="퇴장">
      <!-- <button id="namebtn">닉네임</button> -->
    </form>
<!-- <script src="/javascripts/chat.js"></script> -->
<script src="/javascripts/mainchat.js"></script>
</body>
</html>
