<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap"
      rel="stylesheet"
    />
    <title><%= title%></title>
  </head>
  <style>
    body {
      margin: 0px;
    }
  </style>
  <body>
    <%- include('nav.ejs')%> <%- include(page) %>
  </body>
</html>
