<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <button id="enter1">room1</button>
    <button id="enter2">room2</button>
    <button id="enter3">room3</button>
    <button id="namebtn">닉네임</button>
    <!-- <button id="namebtn">방만들기</button> -->
    <script src="/javascripts/mainchat.js"></script>
</body>
</html>