<!DOCTYPE html>
<html lang="en">
<head>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>

</head>
<body>
    <div class="dropzone-area">
     <form name = "fname">
        <div class="dropzone" id="fileDropzone"></div>
        <button id="btn-upload-file">서버전송</button>
     </form>   
     <form action='upload' method='post' enctype="multipart/form-data">
     <input type='file' name='userfile'>
     <input type='submit'>
    </form>   
    </div>
    <script src ="js/dropzone.min.js"></script>
    <script src ="http://code.jquery.com/jquery-git.min.js"></script>
<script>

$('#btn-upload-file').click(function(){
    $.ajax({
            type: 'post',
            url: '/upload',
            data: data,
            dataType: 'text'
        }) .done(function(data){
            $('h1').html(data.quote);
        });
})

</script>
</body>
</html>