<div class="card_area">
    <div class="card_regist_box">
        <div class="card_regist_title">
        카드번호 등록
        </div>
        <form method="POST" action="/user/card_registration">
        <div class="card_regist_input_title">
            카드번호 등록
        </div>
        <div class="card_regist_input_box">
            <input class="card_regist_input" type="text" name="number1">
            <div class="card_regist_input_between">-</div>
            <input class="card_regist_input" type="text" name="number2">
            <div class="card_regist_input_between">-</div>
            <input class="card_regist_input" type="password" name="number3">
            <div class="card_regist_input_between">-</div>
            <input class="card_regist_input" type="password" name="number4">
        </div>
        <div class="card_regist_input_title">
            유효기간 [MM-YY]
        </div>
        <div class="card_regist_input_box">
            <input class="card_regist_input" type="text" name="date1">
            <div class="card_regist_input_between">-</div>
            <input class="card_regist_input" type="text" name="date2">
        </div>
        <div class="card_regist_input_title">
            카드이름
        </div>
        <div class="card_regist_input_box">
            <input class="card_regist_input" type="text" style="width: 44%;" name="name">
        </div>
        <button class="card_regist_button">등록하기</button>
    </form>
    </div>
</div>