<div class="mypage_area">
    <div class="mypage_box">
        <a class="mypage_box_a" href="/mypage/address">
            <div class="mypage_contentbox" style="margin-right: 20px;">
                <div class="mypage_contentbox_top" style="margin-right: 20px;">
                    <img class="mypage_contentbox_top_img" src="/public/images/icon/address.png" alt="" style="width: 46%;">
                </div>
                <p class="mypage_contentbox_bottom">주소 정보</p>
            </div>
            </a>
        <a class="mypage_box_a" href="/mypage/card">
        <div class="mypage_contentbox" style="margin-right: 20px;">
            <div class="mypage_contentbox_top" style="margin-right: 20px;">
                <img class="mypage_contentbox_top_img" src="/public/images/icon/card_icon.png" alt="" style="width: 46%;">
            </div>
            <p class="mypage_contentbox_bottom">카드 정보</p>
        </div>
        </a>
        <a class="mypage_box_a" href="/mypage/order">
        <div class="mypage_contentbox">
            <div class="mypage_contentbox_top" style="margin-right: 50px;">
                <img class="mypage_contentbox_top_img" src="/public/images/icon/cart_icon.png" alt="" style="margin-right: 20px;">
            </div>
            <p class="mypage_contentbox_bottom">주문 정보</p>
        </div>
        </a>
    </div>
</div>