<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="../public/style.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap"
  rel="stylesheet"
/>
</head>
<body>
<div class="main_area">
    <div class="sign_box1">
      <div class="sign_title_box">
          <a href="/">DNBOOK</a>
      </div>
      <div class="sign_title_box2">
        계정 정보를 입력하세요
        </div>
        <form method="POST" action="/user/sign">
        <div class="sign_input_title">
            아이디
        </div>
        <input class="sign_input" name="id" type="text" placeholder="아이디 입력">
        <div class="sign_input_title">
            비밀번호
        </div>
        <input class="sign_input" type="password" placeholder="비밀번호(8-32자리)" name="password">
        <input class="sign_input" type="password2" placeholder="비밀번호재입력" style="margin-top: 35px;" name="password2">
        <div class="sign_input_title">
            이름
        </div>
        <input class="sign_input" type="text" placeholder="이름을 입력해주세요." name="name">
        <button class="sign_button">회원가입</button>
        </form>
    </div>
    </div>
  </div>
  
</body>
</html>