<div class="search_area">
    <div class="search_box">
            <div class="search_box_select_box">
                <select class="search_select_box" name="category" onchange="test()">
                    <option value="NAME">제목</option>
                    <option value="AUTHOR">저자</option>
                    <option value="PUBLICATION">출판사</option>
                </select>
            </div>
            <div class="search_box_input_box">
                <img class="search_box_input_box_img" src="/public/images/icon/search_icon.png" alt="">
                <input class="search_box_input" type="text" name="" id="" placeholder="검색어를 입력하세요" onkeypress="enterKey();">
                <script>
                    enterKey = () => {
                        if(window.event.keyCode == 13) {
                            var numSelect = document.querySelector(".search_select_box");
                            var text = numSelect.options[document.querySelector(".search_select_box").selectedIndex].value;
                            location.href = 'http://localhost:3000/search/'+document.querySelector('.search_box_input').value+'category=' + document.querySelector('.search_select_box').value;
                        }
                    }
                </script>
            </div>
        </form>
    </div>
</div>
<div class="main_area" style="margin-top: 30px;">
    <div class="main_box1">
        <div class="main_box1_head">분야별 콘텐츠</div>
        <div class="book_list_box1">
            <a href="/book_CATEGORY/매거진">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/magazine.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>매거진</p><p class="book_list_category_text_box_sub">MAGAZINE</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/소설">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/novel.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>소설</p><p class="book_list_category_text_box_sub">NOVEL</p></div>
            </a>
            </div>
            <a href="/book_CATEGORY/문학">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/literature.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>문학</p><p class="book_list_category_text_box_sub">NOVEL</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/인문">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/humanities.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>인문</p><p class="book_list_category_text_box_sub">HUMANITIES</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/철학">
            <div class="book_list_box1_contentbox" style="margin-right: 0px">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/philosophy.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>철학</p><p class="book_list_category_text_box_sub">PHILOSOPHY</p></div>
            </div>
            </a>
    </div>
    <div class="main_box1">
        <div class="book_list_box1">
            <a href="/book_CATEGORY/사회">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/sociality.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>사회</p><p class="book_list_category_text_box_sub">SOCIALITY</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/에세이">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/essay.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>에세이</p><p class="book_list_category_text_box_sub">ESSAY</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/과학">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/science.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>과학</p><p class="book_list_category_text_box_sub">SCIENCE</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/역사">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/history.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>역사</p><p class="book_list_category_text_box_sub">HISTORY</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/경제경영">
            <div class="book_list_box1_contentbox" style="margin-right: 0px">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/economy.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>경제경영</p><p class="book_list_category_text_box_sub">ECONOMY</p></div>
            </div>
            </a>
    </div>
    <div class="main_box1">
        <div class="book_list_box1">
            <a href="/book_CATEGORY/자서전">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book/KakaoTalk_20201016_205453461.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>자서전</p><p class="book_list_category_text_box_sub">AUTOBIOGRAPHY</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/여행">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/travel.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>여행</p><p class="book_list_category_text_box_sub">TRAVEL</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/라이프스타일">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/lifestyle.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>라이프스타일</p><p class="book_list_category_text_box_sub">LIFESTYLE</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/음반">
            <div class="book_list_box1_contentbox">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/record.jpeg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>음반</p><p class="book_list_category_text_box_sub">RECORD</p></div>
            </div>
            </a>
            <a href="/book_CATEGORY/만화">
            <div class="book_list_box1_contentbox" style="margin-right: 0px">
                <div class="book_list_category_img_box">
                    <img class="book_list_category_img" src="/public/images/book_list_category/comic.jpg" alt="">
                </div>
                <div class="book_list_category_text_box"><p>만화</p><p class="book_list_category_text_box_sub">COMIC</p></div>
            </div>
            </a>
    </div>
  </div>